.debit p{
  color: red;
  font-size: 12px;
}
#field1
{
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 2px solid black;
  outline: none;
  background: transparent;
}
#field2
{
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 2px solid black;
  outline: none;
  background: transparent;

}
#field3
{
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 2px solid black;
  outline: none;
  width: 25%;
  background: transparent;
}
.debit{
  width: 20%;
  margin: auto;
  background-color: #f5f5f5;
  /* padding-left:10%; */
  padding: 20px;
}
