<!-- <header>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
  <nav class="menu-bar">
    <ul>
      <li class="current-page"><a href="#"><i class="fa-solid fa-house"></i>Home</a></li>
      <li><a routerLink="/about-us"><i class="fa-solid fa-users"></i>About</a></li>
      <li><a href="/CSE-Firstsub"><i class="fa-solid fa-book"></i>Notes</a></li>
      <li><a href="#"><i class="fa-solid fa-file-lines"></i>Modules</a>
        <div class="dropdown-menu1">
          <ul>
            <li><a href="/timetable"><i class="fa-solid fa-table"></i>Timetable</a></li>
            <li><a href="#"><i class="fa-solid fa-book-open-reader"></i>Lab</a></li>
          </ul>
        </div></li>

      <li><a  routerLink="/contact-us"><i class="fa-solid fa-phone"></i>Contact</a></li>
      <li><a routerLink="/login"><i class="fa-solid fa-right-from-bracket"></i>Login</a></li>

    </ul>
  </nav>
</header>



<div class="body-content">

  <div class="imagess">
    <img src="https://img.freepik.com/free-photo/front-view-young-beautiful-lady-red-t-shirt-black-jeans-holding-different-copybooks-files-smiling-with-bag-white_140725-18639.jpg?w=1060&t=st=1684051141~exp=1684051741~hmac=4268b42dad74d80700c1a0c2c55f2a62c7b48698b46167d4f730fc358655f139" alt="images">
  </div>

  <h1 ><br>BUILD EDUCATION<br>&nbsp;&nbsp;WEBSITE USING<br>&nbsp;&nbsp;&nbsp;</h1>
<div class="span">
  <span >Studyard</span>

</div>
  <div class="cap" style="margin-top: -2%;font-size: 25px;margin-left: 28%;">
    <i class="fa fa-graduation-cap" aria-hidden="true"></i>

  </div>

</div>
 -->
<div class="project" *ngFor="let p of  projectTitle">
  <h1>{{p.name}}</h1>

</div>
<div class="content">
  <p >Welcome Our Website</p>
</div>

